{% extends 'homepage/base.html' %}
{% load static %}

{% block cssblock %}
    <!-- Title -->
    <title>Danh Sách Món ăn</title>
    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">
    <link rel="stylesheet" href="{% static 'homepage/style.css' %}">

{% endblock %}


{% block content %}

    <!-- Search Wrapper -->
    <div class="search-wrapper">
        <!-- Close Btn -->
        <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <input type="search" name="search" placeholder="Type any keywords...">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'homepage/img/bg-img/breadcumb2.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>Bài Viết</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">
                        {% if recipes %}
                            {% for recipe in recipes %}
                                <div class="single-blog-area mb-80">
                                    <!-- Thumbnail -->
                                    <div class="blog-thumbnail">
                                        <img src="{{ recipe.image.url }}" alt="" style="width: 100%; height: 300px; object-fit: cover;">
                                        <!-- Post Date -->
                                        <div class="post-date">
                                            <a href="#"><span>{{ recipe.created_at|date:"d"}}</span>{{ recipe.created_at|date:"F"}}<br>{{ recipe.created_at|date:"Y"}}</a>
                                        </div>
                                    </div>
                                    <!-- Content -->
                                    <div class="blog-content">
                                        <a href="#" class="post-title">{{ recipe.name }}</a>
                                        <div class="meta-data">by <a href="#"> {{ recipe.author.username }}</a></div>
                                        <p>{{ recipe.description }}</p>
                                        <a href="{% url 'recipes:recipe_detail' recipe.id %}" class="btn delicious-btn mt-30">Xem Thêm</a>
                                        <a href="{% url 'recipes:recipe_edit' recipe.id %}" class="btn  delicious-btn btn-4 mt-30">Chỉnh Sửa</a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p style="text-align: center; font-size: 18px; color: gray;">Không có công thức nấu ăn nào được tìm thấy.</p>
                        {% endif %}
                        
                    </div>


                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {% if recipes.has_previous %}
                                 <li class="page-item"><a class="page-link" href="?page=1">|First| </a></li> 
                                <li class="page-item"><a class="page-link" href="?page={{ recipes.previous_page_number }}"> |Previous| </a></li>
                            {% endif %}
                            <li class="page-item active"><a class="page-link" href="#">{{ recipes.number|stringformat:"02d" }} </a></li>
                            {% if recipes.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ recipes.next_page_number }}"> |Next| </a></li>
                                <li class="page-item"><a class="page-link" href="?page={{ recipes.paginator.num_pages }}"> |Last| </a></li>
                            {% endif %}

                            {% comment %} <li class="page-item"><a class="page-link" href="#">03.</a></li> {% endcomment %}
                        </ul>
                    </nav>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="blog-sidebar-area">

                        <!-- Widget -->
                        <div class="single-widget mb-80">
                            <h6>Thông Tin Cá Nhân</h6>
                            <ul class="list">
                                <li style="display: flex; align-items: center; gap: 8px;">
                                    <strong>Tên Người Dùng</strong>
                                    <a href="#">{{ user.username}}</a>
                                </li>
                                <li style="display: flex; align-items: center; gap: 8px;">
                                    <strong>Email</strong>
                                    <a href="#">{{ user.email}}</a>
                                </li>
                                <li style="display: flex; align-items: center; gap: 8px;">
                                    <strong>Ngày Đăng Ký</strong>
                                    <a href="#">{{ user.date_joined|date:"d M Y"}}</a>
                                </li>

                            </ul>
                        </div>

                        <!-- Widget -->
                        <div class="single-widget mb-80">
                            <h6>Categories</h6>
                            <ul class="list">
                                <li><a href="#">Restaurants</a></li>
                                <li><a href="#">Food &amp; Drinks</a></li>
                                <li><a href="#">Vegans</a></li>
                                <li><a href="#">Events &amp; Lifestyle</a></li>
                                <li><a href="#">Uncategorized</a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->

{% endblock %}

{% block jsblock %}
    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src=" {% static 'homepage/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src=" {% static 'homepage/js/bootstrap/popper.min.js' %} "></script>
    <!-- Bootstrap js -->
    <script src=" {% static 'homepage/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src=" {% static 'homepage/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src=" {% static 'homepage/js/active.js' %}"></script>

{% endblock %}
