<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    {% block cssblock %}
    {% endblock %}
</head>

<body>
    {% comment %} <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'homepage/img/core-img/salad.png' %}" alt="">
    </div> {% endcomment %}
    {% include 'homepage/navbar.html'%}

    {% block content %}
    {% endblock %}

    {% include 'homepage/footer.html'%}
    
    {% block jsblock %}
    {% endblock %}
</body>
</html>