{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block cssblock %}
        <link rel="stylesheet" href="{% static 'homepage/style.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'homepage/img/core-img/salad.png' %}" alt="">
    </div> 
    {% include 'homepage/navbar.html' %}

    {% block content %}
    {% endblock %}

    {% include 'homepage/footer.html' %}

    {% block jsblock %}
    {% endblock %}

    <!-- Thêm thư viện SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% include 'homepage/chatbox.html' %}
</body>
</html>